<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArabaAlSat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/modern-business.css" rel="stylesheet" />
</head>
<body>
    <header>
        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html">ARABA ALIM SATIM</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">Anasayfa</a>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Arabalar" asp-action="Index">Arabalar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">İletişim</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                <a class="dropdown-item" asp-area="" asp-controller="Marka" asp-action="Index">Araba Markaları</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ArabaModel" asp-action="Index">Araba Modelleri</a>
                                <a class="dropdown-item" asp-area="" asp-controller="KasaTipi" asp-action="Index">Kasa Tipleri</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Renk" asp-action="Index">Renkler</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Cekis" asp-action="Index">Çekiş</a>
                                <!--  <a class="dropdown-item" asp-area="" asp-controller="Ilan" asp-action="Index">İlanlar</a> -->
                                <a class="dropdown-item" asp-area="" asp-controller="Araba" asp-action="Index">Arabalar</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Adres" asp-action="Index">Adresler</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Satici" asp-action="Index">Satıcılar</a>


                            </div>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-light">
        <div class="container">
            &copy; 2021 - ArabaAlSat - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>